<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../css/design.css">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADMIN NOTES</title>

    <nav>       
        <ul>
            <li><a href="structure.html">Admin Dashboard</a></li>
            <li><a href="profile.html">Profile</a></li> 
            <li><a href="#Switch">Switch Account</a></li>
            <li><a href="NotesPage.html">Notes</a></li>
        </ul>
    </nav>

</head>
<body>
    <p>My Notes</p>
    <textarea name="message" rows="10" cols="30">
    I am the admin of this website, and this is my note area
    </textarea>

    <button>SAVE</button>

    
</body>
</html>
