<!DOCTYPE html>
<html lang="en">

<head>

    <link rel="stylesheet" href="../css/design.css">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>

    <nav>       
        <ul>
            <li><a href="structure.html">Admin Dashboard</a></li>
            <li><a href="profile.html">Profile</a></li> 
            <li><a href="#Switch">Switch Account</a></li>
            <li><a href="NotesPage.html">Notes</a></li>
        </ul>
    </nav>

</head>

<h1 class="firsthead">Admin Dashboard</h1>

<body>
    <div>
        <h2 class="heads">Departments</h2>

        
        <a href="IS_DETAILS.php" class="link">
            <div class="is">
                <p>
                    Department of Information System
                </p>
        </div>
    </a>
    
    
        <a href="CS_DETAILS.php" class="link">
        <div class="cs">
                <p>
                    Department of Computer Science
                </p>
        </div>
    </a>


    <a href="NE_DETAILS.php" class="link">
    <div class="ne">
        <p>
                    Department of Network Engineering
        </p>
    </div>
    </a>
        
    </div>

    <a href="Comments.php" class="link">
        <div>
        <h2 class="heads">
            Comments and Reports
        </h2>
    </div>
    </a>


    <a href="UsersDetails.php" target="_blank" class="link">
        <div>
        <h2 class="heads">
            User Information
        </h2>
        </div>
    </a>

   

<footer>        
        <section id="Switch">
        <h3>Switch to user account</h3> <!-- Go to login page -->
        </section>
    </footer>
</body>
</html>
